@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* General Style 
*******************
*******************
******************* */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Montserrat', sans-serif;
}

ul,
a {
    list-style: none;
    text-decoration: none;
}

main {
    background: #F2F2F2;
    min-height: 100vh;
}

main .container {
    width: 100% !important;
    margin: auto;
    min-height: 100%;
    display: grid;
    padding-bottom: 20px;
}
button{
    display: flex;
    width: 185px;
    height: 48px;
    padding: 14px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    color: var(--base-white, #FFF);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 123%;
    background: var(--primary-900, #1DBF73);
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    margin-left: 70px;
}

/* General Style 
*******************
*******************
******************* */



/* Nav Style  */
nav {
    width: 100%;
    border-radius: 0px 0px 8px 8px;
    background-color: #fff !important;
}

nav .nav-container {
    width: 90%;
    margin: auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 999;
}

nav .nav-container .logo {
    width: 150px;
    height: 42px;

}

nav .nav-container .Nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

nav .nav-container .Nav-links li {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #C3C5C8;
    gap: 5px;
    font-weight: 600;
    font-size: 16px;
    font-style: normal;
    line-height: 120%;
    letter-spacing: 0.08px;
    cursor: pointer;
    transition: .2s linear all;

}

nav .nav-container .Nav-links li:hover {
    color: var(--primary-900, #1DBF73);

}

nav .nav-container .Nav-links li.active {
    color: #1DBF73;
}

nav .nav-container .profile {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

nav .nav-container .profile .img {
    position: relative;
}

nav .nav-container .profile svg:not(.Active, .flag) {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: #1DBF73 2px solid;
    cursor: pointer;
}

nav .nav-container .profile i {
    font-size: 30px;
    position: relative;
    z-index: 99;
    color: #7A7879;
    cursor: pointer;

}

nav .nav-container .profile .fa-bell::after {
    content: "10";
    width: 20px;
    height: 20px;
    font-size: 10px;
    text-align: center;
    display: grid;
    place-items: center;
    font-weight: 400;
    border-radius: 50%;
    background-color: #1DBF73;
    color: #fff;
    position: absolute;
    right: -5px;
    top: -5px;
}

nav .nav-container .profile .fa-comment-dots::after {
    content: "10";
    width: 20px;
    height: 20px;
    font-size: 10px;
    text-align: center;
    display: grid;
    place-items: center;
    font-weight: 400;
    border-radius: 50%;
    background-color: #1DBF73;
    color: #fff;
    position: absolute;
    right: -5px;
    top: -5px;
}

nav .nav-container .profile .img .droplist-profile {
    position: absolute;
    right: 0;
    top: 60px;
    width: 320px;
    height: 291px;
    display: none;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.20);

}

.logout,
.logout i {
    color: #F56342 !important;

}



.droplist-profile.active {
    display: flex !important;
    flex-direction: column !important;

}

.droplist-profile li {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center !important;
    gap: 15px !important;
    font-size: 14px;
    cursor: pointer;

}

.droplist-profile li i {
    font-size: 18px !important;
}

.droplist-profile .j-sb {
    justify-content: space-between;
    align-items: center;
    height: 30px;
    line-height: 30px;
}

.toggle-nav {
    font-size: 24px;
    font-weight: 900;
    cursor: pointer;
    color: #1DBF73;
    display: none;

}

/* Nav Style  */


/* Nav Icons Responsive */
@media (min-width:280px) and (max-width:428px) {
    nav .nav-container {
        width: 95%;
        gap: 15px;
    }

    nav .nav-container .profile {
        gap: 15px;
    }

    nav .nav-container .profile i {
        font-size: 26px;
    }

    nav .nav-container .profile .fa-bell::after {
        width: 18px;
        height: 18px;
    }

    nav .nav-container .profile .fa-comment-dots::after {
        width: 18px;
        height: 18px;
    }

    nav .nav-container .profile svg {
        width: 35px;
        height: 35px;
    }
}

/* Nav Icons Responsive */


/* Nav List Drop List  */


@media (min-width:280px) and (max-width:1138px) {
    .toggle-nav {
        display: flex;
    }

    nav .nav-container ul {
        display: none !important;
        width: 100%;
        position: absolute;
        left: 0;
        top: 85px;
        flex-direction: column;
        background-color: #fff;
        padding: 20px;
    }

    nav .nav-container ul.active {
        display: flex !important;
    }

    nav .nav-container ul li {
        flex-direction: row;
        gap: 10px;
        font-size: 20px;
        text-align: left;
        width: 100%;
    }

    .droplist-profile {
        left: -250px !important;
        height: 300px !important;
        gap: 20px;
    }

    .droplist-profile li {
        width: 100%;
        height: 30px;
        display: flex;
        justify-content: flex-start;
        align-items: center !important;
        gap: 15px !important;
        font-size: 14px !important;
        cursor: pointer;

    }
}



/* Nav List Drop List  */
/* *******************************************
**********************************************
**********************************************
**********************************************
Nav Styles End
*/






/* Content Styles   Start
********************************************
********************************************
********************************************
*/
.content-container {
    width: 90%;
    min-height: 90vh;
    margin: auto;
    display: grid;
    margin-top: 30px;
    display: grid;
    grid-template-columns: 5fr 2fr;
}

.Contents-section {
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.content-container .posts {
    display: flex;
    flex-direction: column;
    height: fit-content;
}

.content-container .posts .post {
    width: 100%;
    min-height: 20vh;
    display: flex;
    flex-direction: column;
}

.posts .post .post-header {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.content-container .posts .post .post-header .breadcrumb {
    color: var(--grey-400, #8692A6);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: 0.09px;
    cursor: pointer;
}

.content-container .posts .post .post-header .post-title {
    color: var(--base-black, #000);
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    /* 28.8px */
    letter-spacing: 0.12px;
}

.content-container .posts .post .post-rate {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.posts .post .post-rate span {
    display: flex;
    gap: 5px;
    cursor: pointer;
}

.posts .post .post-rate .share {
    gap: 10px;
    font-size: 30px;
}

.posts .post .post-rate i.fa-star {
    color: #b0b0b1;
}

.content-container .posts .post .post-rate i.fa-star.fa-solid {
    color: #FFCB31;
}

.posts .post .post-img {
    position: relative;
    width: 100%;
    height: 50vh;
    margin-bottom: 20px;
}

.posts .post .post-img i {
    position: absolute;
    cursor: pointer;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: grid;
    place-items: center;
}

.posts .post .post-img i.fa-chevron-left {
    background: var(--grey-200, #E6EAEF);
    left: 0px;
    top: 50%;
}

.posts .post .post-img i.fa-chevron-right {
    background: var(--grey-200, #E6EAEF);
    right: 40px;
    top: 50%;
}


.posts .post .post-img .bullets {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-100%);
    width: 100px;
    display: flex !important;
    gap: 20px;
}

.posts .post .post-img .bullets i {
    margin-left: 10px;
    color: #E6EAEF;
    font-size: 12px !important;
}

.posts .post .post-img .bullets i:nth-child(2) {
    margin-left: 30px;


}

.posts .post .post-img .bullets i:nth-child(3) {
    margin-left: 50px;


}

.posts .post .post-img img {
    width: 95%;
    height: 50vh;
    display: inline-block;
    margin: auto;
    margin-top: 20px;
    border-radius: 8px;
    background: url(<path-to-image>), lightgray 0px -83.824px / 100% 124.976% no-repeat;
    box-shadow: 0px 3px 40px -5px rgba(32, 32, 32, 0.07);
}

.posts .post .post-descreption {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 10px;
}

.posts .post .post-descreption .desc-title {
    color: var(--base-black, #000);

    /* @extend .display-xs; */
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    /* 28.8px */
    letter-spacing: 0.12px;
}

.posts .post .post-descreption p {
    color: var(--grey-800, #333);

    /* @extend .text-lg; */
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 123%;
    /* 19.68px */
    letter-spacing: 0.08px;
}

@media (min-width:260px) and (max-width:728px) {
    .content-container {
        grid-template-columns: 2fr;
    }

    .content-container aside {
        display: none;
    }

}

/* Content Styles  End
********************************************
********************************************
********************************************
*/


/* Service Styles  Start
********************************************
********************************************
********************************************
*/


.service .service-container {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;

}

.service .service-container .service-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: var(--bg-grey-900, #FDFDFD);
    padding: 10px;
}


.service-container .service-title h1 {
    color: var(--base-black, #000);

    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    /* 28.8px */
    letter-spacing: 0.12px;
}

.service-container .service-title span {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

.service-container .check {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 15px;
    background: var(--base-white, #FFF);
    box-shadow: 0px 3px 40px -5px rgba(32, 32, 32, 0.07);
    padding: 20px 10px;

}

.service-container .check .check-cont {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.service-container .check .check-cont svg {
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.service-container .check .check-det {
    display: flex;
    gap: 5px;
    align-items: center;
    padding-left: 20px;
}

.service-container .check .check-det span {
    display: inline-flex;
    padding: 10px 5px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: var(--primary-100, #E9F9F1);
    color: var(--primary-900, #1DBF73);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 123%;
    cursor: pointer;
}

.service-container .purchase {
    display: flex;

    flex-direction: column;
    margin-top: 30px;
}

.service-container .purchase .title {
    color: var(--base-black, #000);
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    margin-bottom: 20px;
    /* 28.8px */
    letter-spacing: 0.12px;
    gap: 20px;
    height: fit-content;
}

.service-container .purchase .items {
    border-radius: 15px;
    background: var(--base-white, #FFF);
    box-shadow: 0px 3px 40px -5px rgba(32, 32, 32, 0.07);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;


}

.purchase .items .increase {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    background: #F2F2F2;
    width: 30%;
    height: 48px;
}

.items .increase span {
    color: var(--base-black, #000);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 123%;
    /* 19.68px */
    letter-spacing: 0.08px;
}

.items .increase i {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: #fff;
    display: grid;
    place-items: center;
    color: #1DBF73;
    cursor: pointer;
}

.purchase .items .price {
    width: 20%;
    height: 48px;
    flex-shrink: 0;
    border-radius: 8px;
    background: var(--grey-50, #F6F6F6);
    display: grid;
    place-items: center;
    color: var(--base-black, #000);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 127%;
    /* 22.86px */
    letter-spacing: 0.09px;
}

.purchase .items button {
    display: flex;
    width: 30%;
    height: 48px;
    padding: 14px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 8px;
    background: var(--primary-900, #1DBF73);
    color: var(--base-white, #FFF);
    text-align: center;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    /* 19.2px */
    letter-spacing: 0.08px;
    cursor: pointer;
    outline: none;
    border: none;
}
/* Service Styles  End
********************************************
********************************************
********************************************
*/


/* Service Rating Styles Start
********************************************
********************************************
********************************************
*/

.rating-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 50px 0;
}
.rating-container .title{
    color: var(--base-black, #000);

font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: 120%; 
letter-spacing: 0.12px;
}
.rating-container ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
}
.rating-container ul li{
    display: flex;
    justify-content: space-between;

    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}
.rating-container ul li .cont{
    color: var(--base-black, #000);

font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 123%; /* 19.68px */
letter-spacing: 0.08px;
width: 40%;
}

.rating-container ul li .bar{
    display: flex;
    width: 30%;
}
.rating-container ul li .bar span{
    background-color: #E6EAEF;
    width: 80%;
    height: 10px;
    border-radius: 6px;
    margin: auto;
    position: relative;
}
.rating-container ul li .bar span::after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background-color: #FFCB31;
    width: 80%;
    height: 100%;
}
/* Service Rating Styles End
********************************************
********************************************
********************************************
*/

/* Testimonial Styles Start
********************************************
********************************************
********************************************
*/
.testimonials-container{
    width: 100%;
    height: fit-content;
    padding: 10px;
    border-radius: 20px;
    background-color: #fff;
}
.testimonials-list{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.testimonials-list li{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.testimonials-list li  span{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}
.testimonials-list li  span img{
    width: 70px;
    height: 70px;
}

.testimonials-list li .person-info{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 10px;
    color: #8692A6;
}
.testimonials-list li .person-info h3{
    color: var(--base-black, #000);

/* @extend .text-md; */
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.testimonials-list li .person-info .stars{
    font-size: 14px;
}
.testimonials-list li .person-info .stars .fa-solid{
    color: #FFCB31;
}
.testimonials-list li .person-info b{
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: -0.15px;
}
.testimonials-list li p{
    color: var(--grey-800, #333);

font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding-left: 30px;
}

.testimonials-list .input-write .conts{
    flex-direction: row;
    align-items: flex-start;
    margin-top: 30px;
}
.testimonials-list .input-write textarea {
    width: 90%;
    height: 200px;
    resize: none;
    border: none;
    outline: none;
    background: #F6F6F6;
    padding: 10px 20px;
    border-radius: 10px;
    color: var(--grey-400, #8692A6);

    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    /* 19.2px */
    letter-spacing: 0.08px;
}

/* Testimonial Styles End
********************************************
********************************************
********************************************
*/


/* Suggest Styles  Start
************************************************
*************************************************
************************************************
 */
.suggest-container{
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 20px;

}
.suggest-container .suggest-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    

    }
.suggest-container .suggest-header  h1{
    color: var(--base-black, #000);

/* @extend .display-xs; */
font-family: Montserrat;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: 120%; /* 28.8px */
letter-spacing: 0.12px;
}
.suggest-container .suggest-header span{
    color: var(--grey-300, #C3C5C8);

font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 120%; 
letter-spacing: 0.09px;

}
.suggest-cards{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    width:100%;
    height: fit-content;
    padding: 10px;

}
.suggest-cards .suggest-card{
    background-color: #fff;
    width:300px;
    height: 350px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
    overflow: hidden;
    padding-bottom: 10px;
    
}
.suggest-cards .suggest-card .card-img{
    width: 100%;
    height: 60%;
    position: relative;
}
.suggest-card .card-img img{
    width:100%;
    height:100%;
}
.suggest-card .card-img .img-like{
    position: absolute;
    left: 10px;
    top: 20px;
    background-color: #fff;
    width:40px;
    height:40px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    font-size: 30px;
    color: #8692A6;
    cursor: pointer;
    transition: .2s linear all;
}
.suggest-card .card-img .img-like:hover{
background-color: #1DBF73;
color: red;
}
.suggest-card .card-title h1{
    color: var(--base-black, #000);
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 120%;
        letter-spacing: 0.08px;
        padding-left: 20px;
}
.card-footer{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.card-footer .upper-icons{
    display: flex;
    justify-content: flex-start;
    padding-left: 20px;
    gap: 10px;
    
}
.card-footer .upper-icons span{
    color: var(--grey-400, #8692A6);
text-align: center;

/* @extend .text-md; */
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 120%; /* 16.8px */
letter-spacing: 0.07px;
}
.card-footer .upper-icons span i.fa-star{
    color:#FFCB31 ;
}
.card-footer .under-icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 5px;
}
.card-footer .under-icons span{
    display: flex;
    align-items: center;
    gap: 5px;
}
.card-footer .under-icons span img{
    width: 50px;
    height: 50px;
}
.card-footer .under-icons span h3{
    color: var(--base-black, #000);
font-size: 12px;
font-style: normal;
font-weight: 600;
}
.card-footer .under-icons span .fa-tag{
    color: #1DBF73;
    font-size: 18px;
}
.card-footer .under-icons span b {
    color: var(--base-black, #000);

/* @extend .text-lg; */
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 120%; /* 19.2px */
letter-spacing: 0.08px;
}
/* Suggest Styles  End
************************************************
*************************************************
************************************************
 */

/* Aside Styles  Start
************************************************
*************************************************
************************************************
 */
aside {
    width: 100%;
    height: 100vh;
}
.aside-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    height: 100%;
}
.contact-me {
    width: 100%;
    height: 240px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    padding: 20px 5px;
    border-radius: 10px;
}
.contact-me .icons {
    display: flex;
    gap: 20px;
}
.contact-me .icons i {
    width: 35px;
    height: 35px;
    flex-shrink: 0;
    color: #1DBF73;
    background-color: #F6F6F6;
    display: grid;
    place-items: center;
    cursor: pointer;
}
.contact-me p.paragraph{
    width:82%;
    margin: auto;
        color: var(--grey-800, #333);
        
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 120%;
            letter-spacing: 0.07px;
}
.contact-me button{
    margin: auto;
}
.info{
    background-color: #fff;
    padding: 20px 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.info li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    color: var(--base-black, #000);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: 0.07px;
}
.info li span{
    display: flex;
    gap: 20px;
    justify-content: flex-start;
    align-items: center;
}
.info li span i{
    font-size: 18px;
        color: #696F79;
}
.sharesec {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 10px;
    background: #fff;
    width: 100%;
    height: 150px;
    border-radius: 10px;
}
.sharesec .title {
    color: var(--base-black, #000);

    /* @extend .text-lg; */
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    /* 19.2px */
    letter-spacing: 0.08px;
}
.sharesec .icons {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: auto;
    gap: 5px;
    flex-wrap: wrap;
}
.sharesec .icons i {
    font-size: 36px;
    cursor: pointer;
}
.fa-linkedin,
.fa-square-twitter,
.fa-square-facebook {
    color: #2867B2;
}
.fa-square-whatsapp {
    color: #25D366;
}
.copy {
    width: 40px;
    height: 40px;
    background-color: #F2F2F2;
    color: #4F4F4F;
    display: flex;
    justify-content: center;
    align-items: center;
}


.seller{
    width: 100%;
    min-height: fit-content;

    padding: 10px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 10px;
}
.seller .title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}
.seller .title h3{
    color: var(--grey-900, #1E1E1E);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; 
    letter-spacing: 0.08px;
}

.seller .title span{
    color: var(--grey-300, #C3C5C8);

    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;  
    letter-spacing: 0.07px;
}
.seller .card {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}
.seller .card .card-img{
    width: 40% !important;
    height: 100%;
}
.seller .card .card-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card-desc{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}
.card-desc p{
color: var(--grey-900, #1E1E1E);
width: 165px;
font-size: 12px;
font-style: normal;
font-weight: 600;
line-height: 14px; /* 116.667% */
}
.card-desc .card-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.card-desc .card-footer span{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: 14px;
}
.card-footer i{
    font-size: 16px;
}
.card-footer i.fa-star{
    color: #FFCB31;
}
.card-footer i.fa-tag{
    color: #1DBF73;
}

/* Aside Styles  End
************************************************
*************************************************
************************************************
 */